@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>會員註冊</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="username" class="form-label">用戶名</label>
                            <input type="text" class="form-control" id="username" placeholder="輸入用戶名" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">電子郵件</label>
                            <input type="email" class="form-control" id="email" placeholder="輸入電子郵件" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">密碼</label>
                            <input type="password" class="form-control" id="password" placeholder="輸入密碼" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">確認密碼</label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="再次輸入密碼" required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="terms" required>
                            <label class="form-check-label" for="terms">我同意 <a href="#">服務條款</a></label>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">註冊</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
